# python基础

## 字符串的操作

In [10]:
#以大写字符串的首个字母
name="hello world"
print(name.title())

Hello World

In [11]:
#upper和lower变换大小写
print(name.upper())
print(name.lower())

HELLO WORLD
hello world

In [12]:
#采用+号可以拼接字符串

In [13]:
#采用制表符\t和换行符\n来添加空白

In [14]:
#采用rstrip()来删除末尾空白
favorite_language='python '
print(favorite_language)
#永久删除将值返回给原来的变量
favorite_language=favorite_language.rstrip()
print(favorite_language)
#lstrip()删除开头空白和strip()删除两边的空白

python
python

## 数字的操作

In [15]:
#整数相除
print(3.0/2)
#python3无需在加小数点

1.5

## 列表的操作

In [16]:
#insert()插入元素
#直接就在该列表修改，不是副本
list1=['mull','kianna','thre']
list1.insert(1,'hei')
print(list1)

['mull', 'hei', 'kianna', 'thre']

In [17]:
#del删除列表元素
del list1[1]
print(list1)

['mull', 'kianna', 'thre']

In [18]:
#采用pop()删除列表末尾的元素
'''
pop()每运行一次便弹出一个元素,且在该列表操作
'''
#将弹出的值付给poped_list
poped_list=list1.pop()
print(list1)
print(poped_list)
#在pop()中加入索引可以弹出任何位置的元素

['mull', 'kianna']
thre

In [19]:
#remove()依据值来删除列表中的元素
#每次只能删除一个，可以依据while
list1
list1.remove('mull')
list1

['kianna']

In [20]:
#采用sort()进行永久性的排序
t_list=['ada','rend','daa','hua']
t_list.sort()
print(t_list)
#采用倒序reverse=True
t_list.sort(reverse=True)
print(t_list)

['ada', 'daa', 'hua', 'rend']
['rend', 'hua', 'daa', 'ada']

In [21]:
#使用sorted()临时排列列表
print(t_list)
#采用倒序reverse=True
print(sorted(t_list))
print(t_list)

['rend', 'hua', 'daa', 'ada']
['ada', 'daa', 'hua', 'rend']
['rend', 'hua', 'daa', 'ada']

In [22]:
#永久反转列表元素的顺序
t_list.reverse()
print(t_list)

['ada', 'daa', 'hua', 'rend']

In [23]:
#查看列表长度len
print(len(t_list))

4

## 创建数值列表

In [24]:
#使用range()创建数值列表

In [25]:
#列表解析
squares=[value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 切片

In [26]:
print(squares[3:9])

[16, 25, 36, 49, 64, 81]

In [27]:
#利用切片复制列表
rue=squares[:]
print(rue)
#直接赋值名称不可行rue=squares
#切片操作的方法是：consequence[start_index: end_index: step]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
#二维列表的创建
listNum = [[0]*10 for i in range(5)]
listNum[3][4]=1
for i in range(5):
    for j in range(10):
        listNum[i][j]=i+j    
print(listNum)
listNum1 = listNum[1][2:4]
print(listNum1)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [4, 5, 6, 7, 8, 9, 10, 11, 12, 13]]
[3, 4]

In [29]:
#列表的倒数切片
listNum2 = [i for i in range(10)]
listNum2[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 元组

In [30]:
#元组是不可变的列表（）
#给元组变量赋值是合法的
a_tuple=(2,12,5)
print(a_tuple[1])
a_tuple=(3,5)
print(a_tuple)

12
(3, 5)

## if条件语句

In [31]:
#and和or进行条件判断
#in和not in关键字判断是否在某个数据结构中

## 字典

In [32]:
a_dict={"空之律者":"琪亚娜",'雷之律者':'雷电芽衣'}
print(a_dict['空之律者'])

琪亚娜

In [33]:
#添加一对键值
a_dict['理之律者']='布洛妮娅'
print(a_dict)

{'空之律者': '琪亚娜', '雷之律者': '雷电芽衣', '理之律者': '布洛妮娅'}

In [34]:
#删除一对键值
del a_dict['理之律者']
print(a_dict)

{'空之律者': '琪亚娜', '雷之律者': '雷电芽衣'}

In [35]:
#遍历字典
#items()返回一个键值对列表
for k,v in a_dict.items():
    print(k+ ":"+ v)

空之律者:琪亚娜
雷之律者:雷电芽衣

In [36]:
#遍历字典中的所有的键keys()
#返回的是一个列表
for k in a_dict.keys():
    print(k)

空之律者
雷之律者

In [37]:
#按顺序遍历所有的键
for k in sorted(a_dict.keys()):
    print(k)

空之律者
雷之律者

In [38]:
#遍历列表中所有的值values()
#返回的是列表
#当有很多冗余项可以采用集合set()
for k in a_dict.values():
    print(k)

琪亚娜
雷电芽衣

## 用户输入和while

In [39]:
mas=input("please input a word:")
print(mas)
#输入以字符串表示

In [40]:
#采用int()进行数值的输入
num=input()

In [41]:
#python过滤器
func = lambda x:x%2
result = filter(func, [1, 2, 3, 4, 5])
print(list(result))

[1, 3, 5]

In [42]:
list = ['1', '2', '3', '4', '5']
print (list[10:])

[]

## 函数

In [43]:
#1.关键字实参
def pet_name(dog,cat):
    print("it is :"+dog)
    print('it is :'+cat)

pet_name(cat='heee',dog='pee')

it is :pee
it is :heee

In [44]:
#2.可以给形参设置默认值，如果实参无值传递，则采用默认值
#3.采用空字符串让实参变成可选
def people_name(first,second,thrid=''):
    if thrid:
        out=first+' '+second+' '+thrid        
    else:
        out=first+' '+second
    return out
mu=people_name('hel','get')
cou=people_name('ge','eg','he')
print(mu)
print(cou)

hel get
ge eg he

In [45]:
#4.函数可以返回任何类型的值
#5.在函数中修改列表是永久性的
#6.传递列表的副本防止列表被修改

In [46]:
#7.任意数量的实参*name生成一个元组
#在多个形参的时候，必须放在最后
def dog_name(*name):
    for n_name in name:
        print(n_name)
dog_name('tian','dei')
#8.**name生成一个字典

tian
dei

In [47]:
#9.导入模块
'''
as用于起别名
from a import*表示导入所有的函数
'''

'\nas用于起别名\nfrom a import*表示导入所有的函数\n'

## 类

## 文件和异常

### 文件

In [48]:
#打开文件
with open('./train.csv') as f:
    content=f.read()
    print(content)

FileNotFoundError: [Errno 2] No such file or directory: './train.csv'

In [ ]:
#1.逐行读取
with open('./train.csv') as f:
    for line in f:
        print(line.rstrip())

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked

1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S

2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C

3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S

4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S

5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S

6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q

7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S

8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S

9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S

10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C

11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S

12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S

13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S

14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S

15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S

16,1,2,"Hewlett, Mrs. (Mary D Kingcome) ",female,55,0,0,248706,16,,S

17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q

18,1,2,"Williams, Mr. Charles Eugene",male,,0,0,244373,13,,S

19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31,1,0,345763,18,,S

20,1,3,"Masselmani, Mrs. Fatima",female,,0,0,2649,7.225,,C

21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,,S

22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S

23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q

24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S

25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,,S

26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38,1,5,347077,31.3875,,S

27,0,3,"Emir, Mr. Farred Chehab",male,,0,0,2631,7.225,,C

28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S

29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,,0,0,330959,7.8792,,Q

30,0,3,"Todoroff, Mr. Lalio",male,,0,0,349216,7.8958,,S

31,0,1,"Uruchurtu, Don. Manuel E",male,40,0,0,PC 17601,27.7208,,C

32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,,1,0,PC 17569,146.5208,B78,C

33,1,3,"Glynn, Miss. Mary Agatha",female,,0,0,335677,7.75,,Q

34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5,,S

35,0,1,"Meyer, Mr. Edgar Joseph",male,28,1,0,PC 17604,82.1708,,C

36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,,S

37,1,3,"Mamee, Mr. Hanna",male,,0,0,2677,7.2292,,C

38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.05,,S

39,0,3,"Vander Planke, Miss. Augusta Maria",female,18,2,0,345764,18,,S

40,1,3,"Nicola-Yarred, Miss. Jamila",female,14,1,0,2651,11.2417,,C

41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,7546,9.475,,S

42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27,1,0,11668,21,,S

43,0,3,"Kraeff, Mr. Theodor",male,,0,0,349253,7.8958,,C

44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,,C

45,1,3,"Devaney, Miss. Margaret Delia",female,19,0,0,330958,7.8792,,Q

46,0,3,"Rogers, Mr. William John",male,,0,0,S.C./A.4. 23567,8.05,,S

47,0,3,"Lennon, Mr. Denis",male,,1,0,370371,15.5,,Q

48,1,3,"O'Driscoll, Miss. Bridget",female,,0,0,14311,7.75,,Q

49,0,3,"Samaan, Mr. Youssef",male,,2,0,2662,21.6792,,C

50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8,,S

51,0,3,"Panula, Master. Juha Niilo",male,7,4,1,3101295,39.6875,,S

52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8,,S

53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,1,0,PC 17572,76.7292,D33,C

54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29,1,0,2926,26,,S

55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65,0,1,113509,61.9792,B30,C

56,1,1,"Woolner, Mr. Hugh",male,,0,0,19947,35.5,C52,S

57,1,2,"Rugg, Miss. Emily",female,21,0,0,C.A. 31026,10.5,,S

58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,,C

59,1,2,"West, Miss. Constance Mirium",female,5,1,2,C.A. 34651,27.75,,S

60,0,3,"Goodwin, Master. William Frederick",male,11,5,2,CA 2144,46.9,,S

61,0,3,"Sirayanian, Mr. Orsen",male,22,0,0,2669,7.2292,,C

62,1,1,"Icard, Miss. Amelie",female,38,0,0,113572,80,B28,

63,0,1,"Harris, Mr. Henry Birkhardt",male,45,1,0,36973,83.475,C83,S

64,0,3,"Skoog, Master. Harald",male,4,3,2,347088,27.9,,S

65,0,1,"Stewart, Mr. Albert A",male,,0,0,PC 17605,27.7208,,C

66,1,3,"Moubarek, Master. Gerios",male,,1,1,2661,15.2458,,C

67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29,0,0,C.A. 29395,10.5,F33,S

68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,,S

69,1,3,"Andersson, Miss. Erna Alexandra",female,17,4,2,3101281,7.925,,S

70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,,S

71,0,2,"Jenkin, Mr. Stephen Curnow",male,32,0,0,C.A. 33111,10.5,,S

72,0,3,"Goodwin, Miss. Lillian Amy",female,16,5,2,CA 2144,46.9,,S

73,0,2,"Hood, Mr. Ambrose Jr",male,21,0,0,S.O.C. 14879,73.5,,S

74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,14.4542,,C

75,1,3,"Bing, Mr. Lee",male,32,0,0,1601,56.4958,,S

76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.65,F G73,S

77,0,3,"Staneff, Mr. Ivan",male,,0,0,349208,7.8958,,S

78,0,3,"Moutal, Mr. Rahamin Haim",male,,0,0,374746,8.05,,S

79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29,,S

80,1,3,"Dowdell, Miss. Elizabeth",female,30,0,0,364516,12.475,,S

81,0,3,"Waelens, Mr. Achille",male,22,0,0,345767,9,,S

82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5,,S

83,1,3,"McDermott, Miss. Brigdet Delia",female,,0,0,330932,7.7875,,Q

84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1,,S

85,1,2,"Ilett, Miss. Bertha",female,17,0,0,SO/C 14885,10.5,,S

86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33,3,0,3101278,15.85,,S

87,0,3,"Ford, Mr. William Neal",male,16,1,3,W./C. 6608,34.375,,S

88,0,3,"Slocovski, Mr. Selman Francis",male,,0,0,SOTON/OQ 392086,8.05,,S

89,1,1,"Fortune, Miss. Mabel Helen",female,23,3,2,19950,263,C23 C25 C27,S

90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,8.05,,S

91,0,3,"Christmann, Mr. Emil",male,29,0,0,343276,8.05,,S

92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,,S

93,0,1,"Chaffee, Mr. Herbert Fuller",male,46,1,0,W.E.P. 5734,61.175,E31,S

94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,20.575,,S

95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,7.25,,S

96,0,3,"Shorney, Mr. Charles Joseph",male,,0,0,374910,8.05,,S

97,0,1,"Goldschmidt, Mr. George B",male,71,0,0,PC 17754,34.6542,A5,C

98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C

99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,1,231919,23,,S

100,0,2,"Kantor, Mr. Sinai",male,34,1,0,244367,26,,S

101,0,3,"Petranec, Miss. Matilda",female,28,0,0,349245,7.8958,,S

102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,,0,0,349215,7.8958,,S

103,0,1,"White, Mr. Richard Frasar",male,21,0,1,35281,77.2875,D26,S

104,0,3,"Johansson, Mr. Gustaf Joel",male,33,0,0,7540,8.6542,,S

105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37,2,0,3101276,7.925,,S

106,0,3,"Mionoff, Mr. Stoytcho",male,28,0,0,349207,7.8958,,S

107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21,0,0,343120,7.65,,S

108,1,3,"Moss, Mr. Albert Johan",male,,0,0,312991,7.775,,S

109,0,3,"Rekic, Mr. Tido",male,38,0,0,349249,7.8958,,S

110,1,3,"Moran, Miss. Bertha",female,,1,0,371110,24.15,,Q

111,0,1,"Porter, Mr. Walter Chamberlain",male,47,0,0,110465,52,C110,S

112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,,C

113,0,3,"Barton, Mr. David John",male,22,0,0,324669,8.05,,S

114,0,3,"Jussila, Miss. Katriina",female,20,1,0,4136,9.825,,S

115,0,3,"Attalah, Miss. Malake",female,17,0,0,2627,14.4583,,C

116,0,3,"Pekoniemi, Mr. Edvard",male,21,0,0,STON/O 2. 3101294,7.925,,S

117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.75,,Q

118,0,2,"Turpin, Mr. William John Robert",male,29,1,0,11668,21,,S

119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C

120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2,4,2,347082,31.275,,S

121,0,2,"Hickman, Mr. Stanley George",male,21,2,0,S.O.C. 14879,73.5,,S

122,0,3,"Moore, Mr. Leonard Charles",male,,0,0,A4. 54510,8.05,,S

123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,,C

124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13,E101,S

125,0,1,"White, Mr. Percival Wayland",male,54,0,1,35281,77.2875,D26,S

126,1,3,"Nicola-Yarred, Master. Elias",male,12,1,0,2651,11.2417,,C

127,0,3,"McMahon, Mr. Martin",male,,0,0,370372,7.75,,Q

128,1,3,"Madsen, Mr. Fridtjof Arne",male,24,0,0,C 17369,7.1417,,S

129,1,3,"Peter, Miss. Anna",female,,1,1,2668,22.3583,F E69,C

130,0,3,"Ekstrom, Mr. Johan",male,45,0,0,347061,6.975,,S

131,0,3,"Drazenoic, Mr. Jozef",male,33,0,0,349241,7.8958,,C

132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20,0,0,SOTON/O.Q. 3101307,7.05,,S

133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47,1,0,A/5. 3337,14.5,,S

134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,228414,26,,S

135,0,2,"Sobey, Mr. Samuel James Hayden",male,25,0,0,C.A. 29178,13,,S

136,0,2,"Richard, Mr. Emile",male,23,0,0,SC/PARIS 2133,15.0458,,C

137,1,1,"Newsom, Miss. Helen Monypeny",female,19,0,2,11752,26.2833,D47,S

138,0,1,"Futrelle, Mr. Jacques Heath",male,37,1,0,113803,53.1,C123,S

139,0,3,"Osen, Mr. Olaf Elon",male,16,0,0,7534,9.2167,,S

140,0,1,"Giglio, Mr. Victor",male,24,0,0,PC 17593,79.2,B86,C

141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,,0,2,2678,15.2458,,C

142,1,3,"Nysten, Miss. Anna Sofia",female,22,0,0,347081,7.75,,S

143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24,1,0,STON/O2. 3101279,15.85,,S

144,0,3,"Burke, Mr. Jeremiah",male,19,0,0,365222,6.75,,Q

145,0,2,"Andrew, Mr. Edgardo Samuel",male,18,0,0,231945,11.5,,S

146,0,2,"Nicholls, Mr. Joseph Charles",male,19,1,1,C.A. 33112,36.75,,S

147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27,0,0,350043,7.7958,,S

148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9,2,2,W./C. 6608,34.375,,S

149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26,F2,S

150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42,0,0,244310,13,,S

151,0,2,"Bateman, Rev. Robert James",male,51,0,0,S.O.P. 1166,12.525,,S

152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22,1,0,113776,66.6,C2,S

153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,,S

154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5,,S

155,0,3,"Olsen, Mr. Ole Martin",male,,0,0,Fa 265302,7.3125,,S

156,0,1,"Williams, Mr. Charles Duane",male,51,0,1,PC 17597,61.3792,,C

157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16,0,0,35851,7.7333,,Q

158,0,3,"Corn, Mr. Harry",male,30,0,0,SOTON/OQ 392090,8.05,,S

159,0,3,"Smiljanic, Mr. Mile",male,,0,0,315037,8.6625,,S

160,0,3,"Sage, Master. Thomas Henry",male,,8,2,CA. 2343,69.55,,S

161,0,3,"Cribb, Mr. John Hatfield",male,44,0,1,371362,16.1,,S

162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40,0,0,C.A. 33595,15.75,,S

163,0,3,"Bengtsson, Mr. John Viktor",male,26,0,0,347068,7.775,,S

164,0,3,"Calic, Mr. Jovo",male,17,0,0,315093,8.6625,,S

165,0,3,"Panula, Master. Eino Viljami",male,1,4,1,3101295,39.6875,,S

166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9,0,2,363291,20.525,,S

167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,,0,1,113505,55,E33,S

168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45,1,4,347088,27.9,,S

169,0,1,"Baumann, Mr. John D",male,,0,0,PC 17318,25.925,,S

170,0,3,"Ling, Mr. Lee",male,28,0,0,1601,56.4958,,S

171,0,1,"Van der hoef, Mr. Wyckoff",male,61,0,0,111240,33.5,B19,S

172,0,3,"Rice, Master. Arthur",male,4,4,1,382652,29.125,,Q

173,1,3,"Johnson, Miss. Eleanor Ileen",female,1,1,1,347742,11.1333,,S

174,0,3,"Sivola, Mr. Antti Wilhelm",male,21,0,0,STON/O 2. 3101280,7.925,,S

175,0,1,"Smith, Mr. James Clinch",male,56,0,0,17764,30.6958,A7,C

176,0,3,"Klasen, Mr. Klas Albin",male,18,1,1,350404,7.8542,,S

177,0,3,"Lefebre, Master. Henry Forbes",male,,3,1,4133,25.4667,,S

178,0,1,"Isham, Miss. Ann Elizabeth",female,50,0,0,PC 17595,28.7125,C49,C

179,0,2,"Hale, Mr. Reginald",male,30,0,0,250653,13,,S

180,0,3,"Leonard, Mr. Lionel",male,36,0,0,LINE,0,,S

181,0,3,"Sage, Miss. Constance Gladys",female,,8,2,CA. 2343,69.55,,S

182,0,2,"Pernot, Mr. Rene",male,,0,0,SC/PARIS 2131,15.05,,C

183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9,4,2,347077,31.3875,,S

184,1,2,"Becker, Master. Richard F",male,1,2,1,230136,39,F4,S

185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4,0,2,315153,22.025,,S

186,0,1,"Rood, Mr. Hugh Roscoe",male,,0,0,113767,50,A32,S

187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,,1,0,370365,15.5,,Q

188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,111428,26.55,,S

189,0,3,"Bourke, Mr. John",male,40,1,1,364849,15.5,,Q

190,0,3,"Turcin, Mr. Stjepan",male,36,0,0,349247,7.8958,,S

191,1,2,"Pinsky, Mrs. (Rosa)",female,32,0,0,234604,13,,S

192,0,2,"Carbines, Mr. William",male,19,0,0,28424,13,,S

193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,1,0,350046,7.8542,,S

194,1,2,"Navratil, Master. Michel M",male,3,1,1,230080,26,F2,S

195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44,0,0,PC 17610,27.7208,B4,C

196,1,1,"Lurette, Miss. Elise",female,58,0,0,PC 17569,146.5208,B80,C

197,0,3,"Mernagh, Mr. Robert",male,,0,0,368703,7.75,,Q

198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42,0,1,4579,8.4042,,S

199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,,0,0,370370,7.75,,Q

200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,248747,13,,S

201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,9.5,,S

202,0,3,"Sage, Mr. Frederick",male,,8,2,CA. 2343,69.55,,S

203,0,3,"Johanson, Mr. Jakob Alfred",male,34,0,0,3101264,6.4958,,S

204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,,C

205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18,0,0,A/5 3540,8.05,,S

206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S

207,0,3,"Backstrom, Mr. Karl Alfred",male,32,1,0,3101278,15.85,,S

208,1,3,"Albimona, Mr. Nassef Cassem",male,26,0,0,2699,18.7875,,C

209,1,3,"Carr, Miss. Helen ""Ellen""",female,16,0,0,367231,7.75,,Q

210,1,1,"Blank, Mr. Henry",male,40,0,0,112277,31,A31,C

211,0,3,"Ali, Mr. Ahmed",male,24,0,0,SOTON/O.Q. 3101311,7.05,,S

212,1,2,"Cameron, Miss. Clear Annie",female,35,0,0,F.C.C. 13528,21,,S

213,0,3,"Perkin, Mr. John Henry",male,22,0,0,A/5 21174,7.25,,S

214,0,2,"Givard, Mr. Hans Kristensen",male,30,0,0,250646,13,,S

215,0,3,"Kiernan, Mr. Philip",male,,1,0,367229,7.75,,Q

216,1,1,"Newell, Miss. Madeleine",female,31,1,0,35273,113.275,D36,C

217,1,3,"Honkanen, Miss. Eliina",female,27,0,0,STON/O2. 3101283,7.925,,S

218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42,1,0,243847,27,,S

219,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C

220,0,2,"Harris, Mr. Walter",male,30,0,0,W/C 14208,10.5,,S

221,1,3,"Sunderland, Mr. Victor Francis",male,16,0,0,SOTON/OQ 392089,8.05,,S

222,0,2,"Bracken, Mr. James H",male,27,0,0,220367,13,,S

223,0,3,"Green, Mr. George Henry",male,51,0,0,21440,8.05,,S

224,0,3,"Nenkoff, Mr. Christo",male,,0,0,349234,7.8958,,S

225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S

226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22,0,0,PP 4348,9.35,,S

227,1,2,"Mellors, Mr. William John",male,19,0,0,SW/PP 751,10.5,,S

228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,,S

229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18,0,0,236171,13,,S

230,0,3,"Lefebre, Miss. Mathilde",female,,3,1,4133,25.4667,,S

231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35,1,0,36973,83.475,C83,S

232,0,3,"Larsson, Mr. Bengt Edvin",male,29,0,0,347067,7.775,,S

233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59,0,0,237442,13.5,,S

234,1,3,"Asplund, Miss. Lillian Gertrud",female,5,4,2,347077,31.3875,,S

235,0,2,"Leyson, Mr. Robert William Norman",male,24,0,0,C.A. 29566,10.5,,S

236,0,3,"Harknett, Miss. Alice Phoebe",female,,0,0,W./C. 6609,7.55,,S

237,0,2,"Hold, Mr. Stephen",male,44,1,0,26707,26,,S

238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,2,C.A. 31921,26.25,,S

239,0,2,"Pengelly, Mr. Frederick William",male,19,0,0,28665,10.5,,S

240,0,2,"Hunt, Mr. George Henry",male,33,0,0,SCO/W 1585,12.275,,S

241,0,3,"Zabour, Miss. Thamine",female,,1,0,2665,14.4542,,C

242,1,3,"Murphy, Miss. Katherine ""Kate""",female,,1,0,367230,15.5,,Q

243,0,2,"Coleridge, Mr. Reginald Charles",male,29,0,0,W./C. 14263,10.5,,S

244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22,0,0,STON/O 2. 3101275,7.125,,S

245,0,3,"Attalah, Mr. Sleiman",male,30,0,0,2694,7.225,,C

246,0,1,"Minahan, Dr. William Edward",male,44,2,0,19928,90,C78,Q

247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25,0,0,347071,7.775,,S

248,1,2,"Hamalainen, Mrs. William (Anna)",female,24,0,2,250649,14.5,,S

249,1,1,"Beckwith, Mr. Richard Leonard",male,37,1,1,11751,52.5542,D35,S

250,0,2,"Carter, Rev. Ernest Courtenay",male,54,1,0,244252,26,,S

251,0,3,"Reed, Mr. James George",male,,0,0,362316,7.25,,S

252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29,1,1,347054,10.4625,G6,S

253,0,1,"Stead, Mr. William Thomas",male,62,0,0,113514,26.55,C87,S

254,0,3,"Lobb, Mr. William Arthur",male,30,1,0,A/5. 3336,16.1,,S

255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41,0,2,370129,20.2125,,S

256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29,0,2,2650,15.2458,,C

257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,,0,0,PC 17585,79.2,,C

258,1,1,"Cherry, Miss. Gladys",female,30,0,0,110152,86.5,B77,S

259,1,1,"Ward, Miss. Anna",female,35,0,0,PC 17755,512.3292,,C

260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50,0,1,230433,26,,S

261,0,3,"Smith, Mr. Thomas",male,,0,0,384461,7.75,,Q

262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3,4,2,347077,31.3875,,S

263,0,1,"Taussig, Mr. Emil",male,52,1,1,110413,79.65,E67,S

264,0,1,"Harrison, Mr. William",male,40,0,0,112059,0,B94,S

265,0,3,"Henry, Miss. Delia",female,,0,0,382649,7.75,,Q

266,0,2,"Reeves, Mr. David",male,36,0,0,C.A. 17248,10.5,,S

267,0,3,"Panula, Mr. Ernesti Arvid",male,16,4,1,3101295,39.6875,,S

268,1,3,"Persson, Mr. Ernst Ulrik",male,25,1,0,347083,7.775,,S

269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58,0,1,PC 17582,153.4625,C125,S

270,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,135.6333,C99,S

271,0,1,"Cairns, Mr. Alexander",male,,0,0,113798,31,,S

272,1,3,"Tornquist, Mr. William Henry",male,25,0,0,LINE,0,,S

273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41,0,1,250644,19.5,,S

274,0,1,"Natsch, Mr. Charles H",male,37,0,1,PC 17596,29.7,C118,C

275,1,3,"Healy, Miss. Hanora ""Nora""",female,,0,0,370375,7.75,,Q

276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S

277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45,0,0,347073,7.75,,S

278,0,2,"Parkes, Mr. Francis ""Frank""",male,,0,0,239853,0,,S

279,0,3,"Rice, Master. Eric",male,7,4,1,382652,29.125,,Q

280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35,1,1,C.A. 2673,20.25,,S

281,0,3,"Duane, Mr. Frank",male,65,0,0,336439,7.75,,Q

282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28,0,0,347464,7.8542,,S

283,0,3,"de Pelsmaeker, Mr. Alfons",male,16,0,0,345778,9.5,,S

284,1,3,"Dorking, Mr. Edward Arthur",male,19,0,0,A/5. 10482,8.05,,S

285,0,1,"Smith, Mr. Richard William",male,,0,0,113056,26,A19,S

286,0,3,"Stankovic, Mr. Ivan",male,33,0,0,349239,8.6625,,C

287,1,3,"de Mulder, Mr. Theodore",male,30,0,0,345774,9.5,,S

288,0,3,"Naidenoff, Mr. Penko",male,22,0,0,349206,7.8958,,S

289,1,2,"Hosono, Mr. Masabumi",male,42,0,0,237798,13,,S

290,1,3,"Connolly, Miss. Kate",female,22,0,0,370373,7.75,,Q

291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26,0,0,19877,78.85,,S


In [ ]:
#2.创建一个包含文件各行的列表readlines()
with open('./train.csv') as f:
    cont=f.readlines()   
print(cont[8])
print(cont[5:20])

8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S

['5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S\n', '6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q\n', '7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S\n', '8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S\n', '9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S\n', '10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C\n', '11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S\n', '12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S\n', '13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S\n', '14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S\n', '15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S\n', '16,1,2,"Hewlett, Mrs. (Mary D Kingcome) ",female,55,0,0,248706,16,,S\n', '17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q\n', '18,1,2,"Williams, Mr. Charles Eugene",male,,0,0,244373,13,,S\n', '19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31,1,0,345763,18,,S\n']

In [ ]:
#读取文本时，python将文本以字符串的方式读出

In [ ]:
#3.写入文件
with open('./test.txt','w') as f:
    f.write('hello world')
with open('./test.txt') as f:
    cont=f.read()
print(cont)

hello world

In [ ]:
#4.写入多行
with open('./test.txt','w') as f:
    f.write('hello world\n')
    f.write('plus to me\n')
with open('./test.txt') as f:
    cont=f.read()
print(cont)

hello world
plus to me

In [ ]:
#5.以附加模式‘a’添加内容
with open('./test.txt','a') as f:
    f.write('please help me\n')
with open('./test.txt') as f:
    cont=f.read()
print(cont)

hello world
plus to me
please help me
please help meplease help meplease help me
please help me
please help me

### 异常

In [ ]:
#1.使用try-except处理异常
try:
    print(5/0)
except ZeroDivisionError:
    print("not input zero")

not input zero

In [ ]:
#2.使用split分割字符串，以空格区分并生成一个列表
a_string='hello world and python'
b_string=a_string.split()
print(b_string)

['hello', 'world', 'and', 'python']

In [ ]:
#pass语句可以什么都不做

### 存取数据

In [ ]:
#1.利用json.dump()存储json格式的数据
import json
a=[1,5,6,1,6,53,7]
file_index='./test.josn'
with open(file_index,'w') as f:
    json.dump(a,f)

In [ ]:
#2.利用json.load()读取数据
with open(file_index) as f:
    num=json.load(f)
print(num)

[1, 5, 6, 1, 6, 53, 7]

# 函数编程

## 函数对象和闭包

In [ ]:
#将组成函数和该函数的环境放在一块是闭包
def countdown(n):
    def next():
        nonlocal n
        r=n
        n-=1
    return next

In [ ]:
next1=countdown(10)
# print(next)
while True:
    v=next()
    print(v)
    if not v:
        break

None

## 装饰器

In [ ]:

def urges(func):
    def wapper():
        print('hello')
        func()
#         return func()
    return wapper
@urges
def puts():
    print('world')
# puts=urges(puts)
puts()

hello
world

In [ ]:
def cooker(func):
    print("hello")
    def nius():
        a=func()
        print(a)
    return nius
@cooker
def alas(a,b):
    return a*b
alas(2,3)

hello

TypeError: alas() missing 2 required positional arguments: 'a' and 'b'

# python常用操作

## python查看数据格式和类型

In [ ]:
import numpy as np

In [ ]:
a=np.arange(1,10,0.5)
print("查看a的数据结构",type(a))
print("查看a的数据类型",a.dtype)

查看a的数据结构 <class 'numpy.ndarray'>
查看a的数据类型 float64

# python中的os模块

In [ ]:
import os

In [ ]:
#1.打印模块中的函数
print(dir(os))
print(dir(os.path))

['DirEntry', 'F_OK', 'GenericAlias', 'Mapping', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_AddedDllDirectory', '_Environ', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_walk', '_wrap_close', 'abc', 'abort', 'access', 'add_dll_directory', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'unsetenv', 'urandom', 'utime', 'waitpid', 'waitstatus_to_exitcode', 'walk', 'write']
['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_abspath_fallback', '_get_bothseps', '_getfinalpathname', '_getfinalpathname_nonstrict', '_getfullpathname', '_getvolumepathname', '_nt_readlink', '_readlink_deep', 'abspath', 'altsep', 'basename', 'commonpath', 'commonprefix', 'curdir', 'defpath', 'devnull', 'dirname', 'exists', 'expanduser', 'expandvars', 'extsep', 'genericpath', 'getatime', 'getctime', 'getmtime', 'getsize', 'isabs', 'isdir', 'isfile', 'islink', 'ismount', 'join', 'lexists', 'normcase', 'normpath', 'os', 'pardir', 'pathsep', 'realpath', 'relpath', 'samefile', 'sameopenfile', 'samestat', 'sep', 'split', 'splitdrive', 'splitext', 'stat', 'supports_unicode_filenames', 'sys']

## 系统操作

In [ ]:
#os.sep()：路径分隔
print(os.sep)

\

In [ ]:
#os.name:指示你的工作平台
print(os.name)

nt

In [ ]:
#os.getenv:读取环境变量
print(os.getenv('path'))

D:\IDE_sources\Ancona;D:\IDE_sources\Ancona\Library\mingw-w64\bin;D:\IDE_sources\Ancona\Library\usr\bin;D:\IDE_sources\Ancona\Library\bin;D:\IDE_sources\Ancona\Scripts;D:\big_software\VMware\bin\;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Windows\System32\OpenSSH\;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\Program Files\NVIDIA Corporation\NVIDIA NvDLISR;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Windows\System32\OpenSSH\;D:\IDE_sources\QT4\Tools\mingw730_32\bin;D:\IDE_sources\python_ide\python\;D:\IDE_sources\python_ide\Scripts\;D:\software\software_a\git\Git\cmd;D:\software\xshell\;D:\software\xflt\;D:\IDE_sources\node_js\;D:\IDE_sources\Ancona;D:\IDE_sources\Ancona\Library\mingw-w64\bin;D:\IDE_sources\Ancona\Library\usr\bin;D:\IDE_sources\Ancona\Library\bin;D:\IDE_sources\Ancona\Scripts;C:\Users\17677\AppData\Local\Microsoft\WindowsApps;C:\Users\17677\AppData\Local\Programs\Microsoft VS Code\bin;C:\Users\17677\AppData\Roaming\npm

In [ ]:
#获取当前路径
print(os.getcwd())

D:\code\jupyter_code

## 目录和文件操作

In [ ]:
#返回指定目录下的所有文件和目录名
os.listdir('./code 2/')

['.DS_Store',
 '.ipynb_checkpoints',
 'python basic data structure.ipynb',
 'Python Code Structure.ipynb',
 'Python Function and Error.ipynb',
 'Quiz Code Structure.ipynb',
 'Quiz function,数据结构.ipynb',
 'Solution Code Structure.ipynb',
 'Solution function,数据结构.ipynb',
 'Solution Unit Converter.ipynb',
 'Solution Why Function.ipynb',
 'solution 基本语法 及 变量.ipynb',
 'solution 字符串.ipynb',
 'tu.zip',
 'Unit Converter.ipynb',
 '例子.docx']

In [ ]:
#创建一个目录文件并删除这个空目录
os.mkdir('./data1')

In [ ]:
os.rmdir('./data1/')

In [ ]:
#递归生成目录并删除多层空目录
os.makedirs('./data1/data2/data3')

In [ ]:
os.removedirs('./data1/data2/data3/')

In [ ]:
#修改当前工作目录
print(os.getcwd())
os.chdir('D:\code\jupyter_code')
print(os.getcwd())

D:\code\jupyter_code
D:\code\jupyter_code

In [ ]:
#重命名目录或文件名
os.rename('./data','./data1')

FileNotFoundError: [WinError 2] 系统找不到指定的文件。: './data' -> './data1'

In [ ]:
#打开文件,返回文件描述符
f=os.open('./python练习题.ipynb',os.O_RDONLY)

In [ ]:
#读文件文件描述符和读取字符数
os.read(f,10)

b'{\n "cells"'

In [ ]:
#写文件文件描述符和写入内容
f=os.open('./code 2/例子.docx',os.O_WRONLY)
li="hello world"
os.write(f,li)

TypeError: a bytes-like object is required, not 'str'

## path模块

In [ ]:
#判断文件或者目录是否存在
os.path.exists('./data1/')

True

In [ ]:
#判断是否为文件
os.path.isfile('./data1/')

False

In [ ]:
#判断是否是目录
os.path.isdir('./data1/')

True

In [ ]:
#返回文件名
os.path.basename('./data1/house_tiny.csv')

'house_tiny.csv'

In [ ]:
#返回文件路径
os.path.dirname('./data1/house_tiny.csv')

'./data1'

In [ ]:
#获得文件大小
os.path.getsize('.ipynb_checkpoints/')

4096

In [ ]:
#获得绝对路径
os.path.abspath('./data1/house_tiny.csv')

'D:\\code\\jupyter_code\\data1\\house_tiny.csv'

In [ ]:
#连接目录和文件名或目录
os.mkdir('./python')

In [ ]:
os.path.join('./python','python练习题.ipynb')

'./python\\python练习题.ipynb'

In [ ]:
os.listdir('./')

['.ipynb_checkpoints',
 '1_BoW_text_classification.ipynb',
 'assignment1',
 'code 2',
 'code 6',
 'd2l-zh',
 'data1',
 'dataset',
 'NLP_learning',
 'numpy.ipynb',
 'pandas.ipynb',
 'python',
 'python入门.ipynb',
 'python练习题.ipynb',
 'pytorch.ipynb',
 'sin_x.gif',
 'tacotron2-japanese',
 '机器学习',
 '机器学习训练',
 '深度学习',
 '绘图.ipynb']

# python中的json模块

In [ ]:
import json

## 序列化操作

In [ ]:
book_dict = {
  "store": {
    "book": [
      { "category": "reference",
        "author": "Nigel Rees",
        "title": "Sayings of the Century",
        "price": 8.95
      },
      { "category": "fiction",
        "author": "Evelyn Waugh",
        "title": "Sword of Honour",
        "price": 12.99
      },
      { "category": "fiction",
        "author": "Herman Melville",
        "title": "Moby Dick",
        "isbn": "0-553-21311-3",
        "price": 8.99
      },
      { "category": "fiction",
        "author": "J. R. R. Tolkien",
        "title": "The Lord of the Rings",
        "isbn": "0-395-19395-8",
        "price": 22.99
      }
    ],
    "bicycle": {
      "color": "red",
      "price": 19.95
    }
  }
}

In [ ]:
#将python中其他的数据类型（obj）转化为字符串类型
json.dumps(book_dict)

'{"store": {"book": [{"category": "reference", "author": "Nigel Rees", "title": "Sayings of the Century", "price": 8.95}, {"category": "fiction", "author": "Evelyn Waugh", "title": "Sword of Honour", "price": 12.99}, {"category": "fiction", "author": "Herman Melville", "title": "Moby Dick", "isbn": "0-553-21311-3", "price": 8.99}, {"category": "fiction", "author": "J. R. R. Tolkien", "title": "The Lord of the Rings", "isbn": "0-395-19395-8", "price": 22.99}], "bicycle": {"color": "red", "price": 19.95}}}'

In [ ]:
print(type(json.dumps(book_dict)))

<class 'str'>

In [ ]:
#json.dump（）方法需要写入到文件中其他和json.dumps()一样
with open('./info.txt','w') as f:
    json.dump(book_dict,f)

## 反序列化操作

In [ ]:
#该方法是将序列化的把字符串转换成数据类型,json.loads()
data=json.dumps(book_dict)
json.loads(data)

{'store': {'book': [{'category': 'reference',
    'author': 'Nigel Rees',
    'title': 'Sayings of the Century',
    'price': 8.95},
   {'category': 'fiction',
    'author': 'Evelyn Waugh',
    'title': 'Sword of Honour',
    'price': 12.99},
   {'category': 'fiction',
    'author': 'Herman Melville',
    'title': 'Moby Dick',
    'isbn': '0-553-21311-3',
    'price': 8.99},
   {'category': 'fiction',
    'author': 'J. R. R. Tolkien',
    'title': 'The Lord of the Rings',
    'isbn': '0-395-19395-8',
    'price': 22.99}],
  'bicycle': {'color': 'red', 'price': 19.95}}}

In [ ]:
with open('./info.txt','r') as f:
    dic=json.load(f)
    print(type(dic))
    for v,m in dic.items():
        print(v,m)

<class 'dict'>
store {'book': [{'category': 'reference', 'author': 'Nigel Rees', 'title': 'Sayings of the Century', 'price': 8.95}, {'category': 'fiction', 'author': 'Evelyn Waugh', 'title': 'Sword of Honour', 'price': 12.99}, {'category': 'fiction', 'author': 'Herman Melville', 'title': 'Moby Dick', 'isbn': '0-553-21311-3', 'price': 8.99}, {'category': 'fiction', 'author': 'J. R. R. Tolkien', 'title': 'The Lord of the Rings', 'isbn': '0-395-19395-8', 'price': 22.99}], 'bicycle': {'color': 'red', 'price': 19.95}}

# python中的jsonpath模块

In [ ]:
from jsonpath import jsonpath

In [ ]:
#JsonPath 提供的 JSON解析功能非常强大，它提供了类似正则表达式的语法
jsonpath(book_dict,"$.store.book..title")

['Sayings of the Century',
 'Sword of Honour',
 'Moby Dick',
 'The Lord of the Rings']

In [ ]:
jsonpath(book_dict,"$..[(@.length-1])")

[{'category': 'fiction',
  'author': 'J. R. R. Tolkien',
  'title': 'The Lord of the Rings',
  'isbn': '0-395-19395-8',
  'price': 22.99}]

In [ ]:
#案例
import requests
url='https://www.lagou.com/lbs/getAllCitySearchLabels.json'
headers={"User-Agent" :	"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:101.0) Gecko/20100101 Firefox/101.0"}

In [ ]:
response=requests.get(url,headers=headers)
relx=response.content.decode()

In [ ]:
# 把json格式字符串转换成python对象
josnbj=json.loads(relx)

{'state': 1, 'message': 'success', 'content': {'data': {'allCitySearchLabels': {'A': [{'id': 671, 'name': '安庆', 'parentId': 541, 'code': '131800000', 'isSelected': False}, {'id': 723, 'name': '安阳', 'parentId': 545, 'code': '171500000', 'isSelected': False}, {'id': 601, 'name': '鞍山', 'parentId': 535, 'code': '081600000', 'isSelected': False}, {'id': 105795, 'name': '澳门', 'parentId': 562, 'code': '330100000', 'isSelected': False}, {'id': 825, 'name': '安顺', 'parentId': 553, 'code': '240400000', 'isSelected': False}, {'id': 598, 'name': '阿拉善盟', 'parentId': 534, 'code': '070300000', 'isSelected': False}, {'id': 819, 'name': '阿坝藏族羌族自治州', 'parentId': 552, 'code': '230700000', 'isSelected': False}], 'B': [{'id': 5, 'name': '北京', 'parentId': 1, 'code': '010100000', 'isSelected': False}, {'id': 570, 'name': '保定', 'parentId': 532, 'code': '051100000', 'isSelected': False}, {'id': 588, 'name': '包头', 'parentId': 534, 'code': '071300000', 'isSelected': False}, {'id': 666, 'name': '蚌埠', 'parentId': 541, 'code': '131300000', 'isSelected': False}, {'id': 794, 'name': '百色', 'parentId': 549, 'code': '210500000', 'isSelected': False}, {'id': 789, 'name': '北海', 'parentId': 549, 'code': '211000000', 'isSelected': False}, {'id': 856, 'name': '宝鸡', 'parentId': 556, 'code': '271000000', 'isSelected': False}, {'id': 717, 'name': '滨州', 'parentId': 544, 'code': '161400000', 'isSelected': False}, {'id': 828, 'name': '毕节', 'parentId': 553, 'code': '240700000', 'isSelected': False}, {'id': 834, 'name': '保山', 'parentId': 554, 'code': '251400000', 'isSelected': False}, {'id': 817, 'name': '巴中', 'parentId': 552, 'code': '230500000', 'isSelected': False}, {'id': 867, 'name': '白银', 'parentId': 557, 'code': '281100000', 'isSelected': False}, {'id': 678, 'name': '亳州', 'parentId': 541, 'code': '130500000', 'isSelected': False}, {'id': 603, 'name': '本溪', 'parentId': 535, 'code': '081400000', 'isSelected': False}, {'id': 597, 'name': '巴彦淖尔', 'parentId': 534, 'code': '070400000', 'isSelected': False}], 'C': [{'id': 801, 'name': '成都', 'parentId': 552, 'code': '230100000', 'isSelected': False}, {'id': 749, 'name': '长沙', 'parentId': 547, 'code': '190100000', 'isSelected': False}, {'id': 8, 'name': '重庆', 'parentId': 4, 'code': '040100000', 'isSelected': False}, {'id': 613, 'name': '长春', 'parentId': 536, 'code': '090100000', 'isSelected': False}, {'id': 638, 'name': '常州', 'parentId': 539, 'code': '112000000', 'isSelected': False}, {'id': 573, 'name': '沧州', 'parentId': 532, 'code': '050800000', 'isSelected': False}, {'id': 758, 'name': '郴州', 'parentId': 547, 'code': '190500000', 'isSelected': False}, {'id': 108405, 'name': '澄迈', 'parentId': 550, 'code': '223400000', 'isSelected': False}, {'id': 755, 'name': '常德', 'parentId': 547, 'code': '190800000', 'isSelected': False}, {'id': 572, 'name': '承德', 'parentId': 532, 'code': '050900000', 'isSelected': False}, {'id': 673, 'name': '滁州', 'parentId': 541, 'code': '131100000', 'isSelected': False}, {'id': 781, 'name': '潮州', 'parentId': 548, 'code': '200500000', 'isSelected': False}, {'id': 590, 'name': '赤峰', 'parentId': 534, 'code': '071100000', 'isSelected': False}, {'id': 679, 'name': '池州', 'parentId': 541, 'code': '130600000', 'isSelected': False}, {'id': 894, 'name': '昌吉', 'parentId': 560, 'code': '311500000', 'isSelected': False}, {'id': 905, 'name': '崇左', 'parentId': 549, 'code': '211400000', 'isSelected': False}, {'id': 848, 'name': '昌都', 'parentId': 555, 'code': '260200000', 'isSelected': False}, {'id': 836, 'name': '楚雄', 'parentId': 554, 'code': '251200000', 'isSelected': False}], 'D': [{'id': 779, 'name': '东莞', 'parentId': 548, 'code': '200300000', 'isSelected': False}, {'id': 600, 'name': '大连', 'parentId': 535, 'code': '081700000', 'isSelected': False}, {'id': 715, 'name': '德州', 'parentId': 544, 'code': '161600000', 'isSelected': False}, {'id': 805, 'name': '德阳', 'parentId': 552, 'code': '231700000', 'isSelected': False}, {'id': 841, 'name': '大理', 'parentId': 554, 'code': '250700000', 'isSelected': False}, {'id': 815, 'name': '达州', 'parentId': 552, 'code': '230300000', 'isSelected': False}, {'id': 706, 'name': '东营', 'parentId': 544, 'code': '162000000', 'isSelected': False}, {'id': 627, 'name': '大庆', 'parentId': 537, 'code': '101300000', 'isSelected': False}, {'id': 577, 'name': '大同', 'parentId': 533, 'code': '061200000', 'isSelected': False}, {'id': 604, 'name': '丹东', 'parentId': 535, 'code': '081300000', 'isSelected': False}, {'id': 842, 'name': '德宏', 'parentId': 554, 'code': '250600000', 'isSelected': False}, {'id': 634, 'name': '大兴安岭', 'parentId': 537, 'code': '100600000', 'isSelected': False}], 'E': [{'id': 592, 'name': '鄂尔多斯', 'parentId': 534, 'code': '070900000', 'isSelected': False}, {'id': 741, 'name': '鄂州', 'parentId': 546, 'code': '181600000', 'isSelected': False}], 'F': [{'id': 768, 'name': '佛山', 'parentId': 548, 'code': '202000000', 'isSelected': False}, {'id': 681, 'name': '福州', 'parentId': 542, 'code': '140100000', 'isSelected': False}, {'id': 674, 'name': '阜阳', 'parentId': 541, 'code': '131000000', 'isSelected': False}, {'id': 602, 'name': '抚顺', 'parentId': 535, 'code': '081500000', 'isSelected': False}, {'id': 607, 'name': '阜新', 'parentId': 535, 'code': '081000000', 'isSelected': False}, {'id': 700, 'name': '抚州', 'parentId': 543, 'code': '150200000', 'isSelected': False}], 'G': [{'id': 763, 'name': '广州', 'parentId': 548, 'code': '200100000', 'isSelected': False}, {'id': 822, 'name': '贵阳', 'parentId': 553, 'code': '240100000', 'isSelected': False}, {'id': 697, 'name': '赣州', 'parentId': 543, 'code': '150500000', 'isSelected': False}, {'id': 787, 'name': '桂林', 'parentId': 549, 'code': '211200000', 'isSelected': False}, {'id': 792, 'name': '贵港', 'parentId': 549, 'code': '210700000', 'isSelected': False}, {'id': 820, 'name': '甘孜藏族自治州', 'parentId': 552, 'code': '230800000', 'isSelected': False}, {'id': 814, 'name': '广安', 'parentId': 552, 'code': '230200000', 'isSelected': False}, {'id': 877, 'name': '甘南', 'parentId': 557, 'code': '281400000', 'isSelected': False}, {'id': 807, 'name': '广元', 'parentId': 552, 'code': '231900000', 'isSelected': False}], 'H': [{'id': 653, 'name': '杭州', 'parentId': 540, 'code': '120100000', 'isSelected': False}, {'id': 664, 'name': '合肥', 'parentId': 541, 'code': '130100000', 'isSelected': False}, {'id': 773, 'name': '惠州', 'parentId': 548, 'code': '202500000', 'isSelected': False}, {'id': 622, 'name': '哈尔滨', 'parentId': 537, 'code': '100100000', 'isSelected': False}, {'id': 657, 'name': '湖州', 'parentId': 540, 'code': '122200000', 'isSelected': False}, {'id': 799, 'name': '海口', 'parentId': 550, 'code': '220100000', 'isSelected': False}, {'id': 587, 'name': '呼和浩特', 'parentId': 534, 'code': '070100000', 'isSelected': False}, {'id': 568, 'name': '邯郸', 'parentId': 532, 'code': '051300000', 'isSelected': False}, {'id': 643, 'name': '淮安', 'parentId': 539, 'code': '112500000', 'isSelected': False}, {'id': 718, 'name': '菏泽', 'parentId': 544, 'code': '160200000', 'isSelected': False}, {'id': 108353, 'name': '海外', 'parentId': 108352, 'code': '350100000', 'isSelected': False}, {'id': 752, 'name': '衡阳', 'parentId': 547, 'code': '191100000', 'isSelected': False}, {'id': 737, 'name': '黄石', 'parentId': 546, 'code': '181200000', 'isSelected': False}, {'id': 669, 'name': '淮北', 'parentId': 541, 'code': '131600000', 'isSelected': False}, {'id': 575, 'name': '衡水', 'parentId': 532, 'code': '050600000', 'isSelected': False}, {'id': 776, 'name': '河源', 'parentId': 548, 'code': '201400000', 'isSelected': False}, {'id': 745, 'name': '黄冈', 'parentId': 546, 'code': '181100000', 'isSelected': False}, {'id': 667, 'name': '淮南', 'parentId': 541, 'code': '131400000', 'isSelected': False}, {'id': 860, 'name': '汉中', 'parentId': 556, 'code': '270600000', 'isSelected': False}, {'id': 724, 'name': '鹤壁', 'parentId': 545, 'code': '171600000', 'isSelected': False}, {'id': 760, 'name': '怀化', 'parentId': 547, 'code': '190300000', 'isSelected': False}, {'id': 612, 'name': '葫芦岛', 'parentId': 535, 'code': '080500000', 'isSelected': False}, {'id': 837, 'name': '红河', 'parentId': 554, 'code': '251100000', 'isSelected': False}, {'id': 796, 'name': '河池', 'parentId': 549, 'code': '210300000', 'isSelected': False}, {'id': 672, 'name': '黄山', 'parentId': 541, 'code': '131900000', 'isSelected': False}, {'id': 593, 'name': '呼伦贝尔', 'parentId': 534, 'code': '070800000', 'isSelected': False}, {'id': 893, 'name': '哈密', 'parentId': 560, 'code': '311400000', 'isSelected': False}, {'id': 795, 'name': '贺州', 'parentId': 549, 'code': '210400000', 'isSelected': False}, {'id': 632, 'name': '黑河', 'parentId': 537, 'code': '100800000', 'isSelected': False}], 'J': [{'id': 702, 'name': '济南', 'parentId': 544, 'code': '160100000', 'isSelected': False}, {'id': 656, 'name': '嘉兴', 'parentId': 540, 'code': '122100000', 'isSelected': False}, {'id': 659, 'name': '金华', 'parentId': 540, 'code': '122400000', 'isSelected': False}, {'id': 769, 'name': '江门', 'parentId': 548, 'code': '202100000', 'isSelected': False}, {'id': 694, 'name': '九江', 'parentId': 543, 'code': '150800000', 'isSelected': False}, {'id': 782, 'name': '揭阳', 'parentId': 548, 'code': '200600000', 'isSelected': False}, {'id': 582, 'name': '晋中', 'parentId': 533, 'code': '060700000', 'isSelected': False}, {'id': 709, 'name': '济宁', 'parentId': 544, 'code': '162300000', 'isSelected': False}, {'id': 726, 'name': '焦作', 'parentId': 545, 'code': '171800000', 'isSelected': False}, {'id': 614, 'name': '吉林', 'parentId': 536, 'code': '091000000', 'isSelected': False}, {'id': 692, 'name': '景德镇', 'parentId': 543, 'code': '151000000', 'isSelected': False}, {'id': 742, 'name': '荆门', 'parentId': 546, 'code': '181700000', 'isSelected': False}, {'id': 744, 'name': '荆州', 'parentId': 546, 'code': '181900000', 'isSelected': False}, {'id': 698, 'name': '吉安', 'parentId': 543, 'code': '150400000', 'isSelected': False}, {'id': 580, 'name': '晋城', 'parentId': 533, 'code': '060900000', 'isSelected': False}, {'id': 629, 'name': '佳木斯', 'parentId': 537, 'code': '101100000', 'isSelected': False}, {'id': 605, 'name': '锦州', 'parentId': 535, 'code': '081200000', 'isSelected': False}, {'id': 872, 'name': '酒泉', 'parentId': 557, 'code': '280600000', 'isSelected': False}, {'id': 865, 'name': '嘉峪关', 'parentId': 557, 'code': '281300000', 'isSelected': False}], 'K': [{'id': 831, 'name': '昆明', 'parentId': 554, 'code': '250100000', 'isSelected': False}, {'id': 720, 'name': '开封', 'parentId': 545, 'code': '171200000', 'isSelected': False}, {'id': 891, 'name': '克拉玛依', 'parentId': 560, 'code': '311200000', 'isSelected': False}], 'L': [{'id': 574, 'name': '廊坊', 'parentId': 532, 'code': '050700000', 'isSelected': False}, {'id': 714, 'name': '临沂', 'parentId': 544, 'code': '162800000', 'isSelected': False}, {'id': 721, 'name': '洛阳', 'parentId': 545, 'code': '171300000', 'isSelected': False}, {'id': 864, 'name': '兰州', 'parentId': 557, 'code': '280100000', 'isSelected': False}, {'id': 716, 'name': '聊城', 'parentId': 544, 'code': '161500000', 'isSelected': False}, {'id': 642, 'name': '连云港', 'parentId': 539, 'code': '112400000', 'isSelected': False}, {'id': 810, 'name': '乐山', 'parentId': 552, 'code': '232200000', 'isSelected': False}, {'id': 585, 'name': '临汾', 'parentId': 533, 'code': '060400000', 'isSelected': False}, {'id': 786, 'name': '柳州', 'parentId': 549, 'code': '211300000', 'isSelected': False}, {'id': 663, 'name': '丽水', 'parentId': 540, 'code': '122800000', 'isSelected': False}, {'id': 804, 'name': '泸州', 'parentId': 552, 'code': '231600000', 'isSelected': False}, {'id': 847, 'name': '拉萨', 'parentId': 555, 'code': '260100000', 'isSelected': False}, {'id': 689, 'name': '龙岩', 'parentId': 542, 'code': '140400000', 'isSelected': False}, {'id': 677, 'name': '六安', 'parentId': 541, 'code': '130400000', 'isSelected': False}, {'id': 843, 'name': '丽江', 'parentId': 554, 'code': '250500000', 'isSelected': False}, {'id': 821, 'name': '凉山彝族自治州', 'parentId': 552, 'code': '230900000', 'isSelected': False}, {'id': 586, 'name': '吕梁', 'parentId': 533, 'code': '060300000', 'isSelected': False}, {'id': 846, 'name': '临沧', 'parentId': 554, 'code': '250200000', 'isSelected': False}, {'id': 729, 'name': '漯河', 'parentId': 545, 'code': '171000000', 'isSelected': False}, {'id': 823, 'name': '六盘水', 'parentId': 553, 'code': '240200000', 'isSelected': False}, {'id': 904, 'name': '来宾', 'parentId': 549, 'code': '210200000', 'isSelected': False}, {'id': 761, 'name': '娄底', 'parentId': 547, 'code': '190200000', 'isSelected': False}, {'id': 108424, 'name': '陵水黎族自治县', 'parentId': 550, 'code': '222700000', 'isSelected': False}, {'id': 608, 'name': '辽阳', 'parentId': 535, 'code': '080900000', 'isSelected': False}], 'M': [{'id': 806, 'name': '绵阳', 'parentId': 552, 'code': '231800000', 'isSelected': False}, {'id': 771, 'name': '茂名', 'parentId': 548, 'code': '202300000', 'isSelected': False}, {'id': 774, 'name': '梅州', 'parentId': 548, 'code': '202600000', 'isSelected': False}, {'id': 812, 'name': '眉山', 'parentId': 552, 'code': '231300000', 'isSelected': False}, {'id': 668, 'name': '马鞍山', 'parentId': 541, 'code': '131500000', 'isSelected': False}, {'id': 631, 'name': '牡丹江', 'parentId': 537, 'code': '100900000', 'isSelected': False}], 'N': [{'id': 635, 'name': '南京', 'parentId': 539, 'code': '110100000', 'isSelected': False}, {'id': 654, 'name': '宁波', 'parentId': 540, 'code': '121900000', 'isSelected': False}, {'id': 691, 'name': '南昌', 'parentId': 543, 'code': '150100000', 'isSelected': False}, {'id': 785, 'name': '南宁', 'parentId': 549, 'code': '210100000', 'isSelected': False}, {'id': 641, 'name': '南通', 'parentId': 539, 'code': '112300000', 'isSelected': False}, {'id': 690, 'name': '宁德', 'parentId': 542, 'code': '140300000', 'isSelected': False}, {'id': 731, 'name': '南阳', 'parentId': 545, 'code': '170300000', 'isSelected': False}, {'id': 811, 'name': '南充', 'parentId': 552, 'code': '232300000', 'isSelected': False}, {'id': 688, 'name': '南平', 'parentId': 542, 'code': '140500000', 'isSelected': False}, {'id': 809, 'name': '内江', 'parentId': 552, 'code': '232100000', 'isSelected': False}], 'P': [{'id': 683, 'name': '莆田', 'parentId': 542, 'code': '141000000', 'isSelected': False}, {'id': 722, 'name': '平顶山', 'parentId': 545, 'code': '171400000', 'isSelected': False}, {'id': 693, 'name': '萍乡', 'parentId': 543, 'code': '150900000', 'isSelected': False}, {'id': 727, 'name': '濮阳', 'parentId': 545, 'code': '171900000', 'isSelected': False}, {'id': 609, 'name': '盘锦', 'parentId': 535, 'code': '080800000', 'isSelected': False}, {'id': 10163, 'name': '普洱', 'parentId': 554, 'code': '251700000', 'isSelected': False}, {'id': 803, 'name': '攀枝花', 'parentId': 552, 'code': '231500000', 'isSelected': False}], 'Q': [{'id': 703, 'name': '青岛', 'parentId': 544, 'code': '161700000', 'isSelected': False}, {'id': 685, 'name': '泉州', 'parentId': 542, 'code': '140800000', 'isSelected': False}, {'id': 778, 'name': '清远', 'parentId': 548, 'code': '200200000', 'isSelected': False}, {'id': 567, 'name': '秦皇岛', 'parentId': 532, 'code': '051400000', 'isSelected': False}, {'id': 832, 'name': '曲靖', 'parentId': 554, 'code': '251600000', 'isSelected': False}, {'id': 660, 'name': '衢州', 'parentId': 540, 'code': '122500000', 'isSelected': False}, {'id': 873, 'name': '庆阳', 'parentId': 557, 'code': '280500000', 'isSelected': False}, {'id': 108419, 'name': '琼海', 'parentId': 550, 'code': '222200000', 'isSelected': False}, {'id': 830, 'name': '黔南', 'parentId': 553, 'code': '240900000', 'isSelected': False}, {'id': 827, 'name': '黔西南', 'parentId': 553, 'code': '240600000', 'isSelected': False}, {'id': 108402, 'name': '潜江', 'parentId': 546, 'code': '180400000', 'isSelected': False}, {'id': 623, 'name': '齐齐哈尔', 'parentId': 537, 'code': '101700000', 'isSelected': False}, {'id': 630, 'name': '七台河', 'parentId': 537, 'code': '101000000', 'isSelected': False}], 'R': [{'id': 712, 'name': '日照', 'parentId': 544, 'code': '162600000', 'isSelected': False}], 'S': [{'id': 6, 'name': '上海', 'parentId': 2, 'code': '020100000', 'isSelected': False}, {'id': 765, 'name': '深圳', 'parentId': 548, 'code': '201700000', 'isSelected': False}, {'id': 639, 'name': '苏州', 'parentId': 539, 'code': '112100000', 'isSelected': False}, {'id': 599, 'name': '沈阳', 'parentId': 535, 'code': '080100000', 'isSelected': False}, {'id': 565, 'name': '石家庄', 'parentId': 532, 'code': '050100000', 'isSelected': False}, {'id': 658, 'name': '绍兴', 'parentId': 540, 'code': '122300000', 'isSelected': False}, {'id': 767, 'name': '汕头', 'parentId': 548, 'code': '201900000', 'isSelected': False}, {'id': 800, 'name': '三亚', 'parentId': 550, 'code': '221800000', 'isSelected': False}, {'id': 648, 'name': '宿迁', 'parentId': 539, 'code': '113000000', 'isSelected': False}, {'id': 701, 'name': '上饶', 'parentId': 543, 'code': '151100000', 'isSelected': False}, {'id': 732, 'name': '商丘', 'parentId': 545, 'code': '170400000', 'isSelected': False}, {'id': 764, 'name': '韶关', 'parentId': 548, 'code': '201600000', 'isSelected': False}, {'id': 775, 'name': '汕尾', 'parentId': 548, 'code': '201500000', 'isSelected': False}, {'id': 738, 'name': '十堰', 'parentId': 546, 'code': '181300000', 'isSelected': False}, {'id': 675, 'name': '宿州', 'parentId': 541, 'code': '130200000', 'isSelected': False}, {'id': 753, 'name': '邵阳', 'parentId': 547, 'code': '191000000', 'isSelected': False}, {'id': 747, 'name': '随州', 'parentId': 546, 'code': '180200000', 'isSelected': False}, {'id': 730, 'name': '三门峡', 'parentId': 545, 'code': '170200000', 'isSelected': False}, {'id': 808, 'name': '遂宁', 'parentId': 552, 'code': '232000000', 'isSelected': False}, {'id': 863, 'name': '商洛', 'parentId': 556, 'code': '270300000', 'isSelected': False}, {'id': 684, 'name': '三明', 'parentId': 542, 'code': '140900000', 'isSelected': False}, {'id': 633, 'name': '绥化', 'parentId': 537, 'code': '100700000', 'isSelected': False}, {'id': 581, 'name': '朔州', 'parentId': 533, 'code': '060800000', 'isSelected': False}, {'id': 849, 'name': '山南', 'parentId': 555, 'code': '260300000', 'isSelected': False}, {'id': 907, 'name': '三沙', 'parentId': 550, 'code': '220200000', 'isSelected': False}, {'id': 619, 'name': '松原', 'parentId': 536, 'code': '090500000', 'isSelected': False}, {'id': 615, 'name': '四平', 'parentId': 536, 'code': '090900000', 'isSelected': False}], 'T': [{'id': 7, 'name': '天津', 'parentId': 3, 'code': '030100000', 'isSelected': False}, {'id': 576, 'name': '太原', 'parentId': 533, 'code': '060100000', 'isSelected': False}, {'id': 662, 'name': '台州', 'parentId': 540, 'code': '122700000', 'isSelected': False}, {'id': 566, 'name': '唐山', 'parentId': 532, 'code': '051500000', 'isSelected': False}, {'id': 647, 'name': '泰州', 'parentId': 539, 'code': '112900000', 'isSelected': False}, {'id': 710, 'name': '泰安', 'parentId': 544, 'code': '162400000', 'isSelected': False}, {'id': 617, 'name': '通化', 'parentId': 536, 'code': '090700000', 'isSelected': False}, {'id': 670, 'name': '铜陵', 'parentId': 541, 'code': '131700000', 'isSelected': False}, {'id': 868, 'name': '天水', 'parentId': 557, 'code': '281000000', 'isSelected': False}, {'id': 610, 'name': '铁岭', 'parentId': 535, 'code': '080700000', 'isSelected': False}, {'id': 591, 'name': '通辽', 'parentId': 534, 'code': '071000000', 'isSelected': False}, {'id': 826, 'name': '铜仁', 'parentId': 553, 'code': '240500000', 'isSelected': False}, {'id': 108355, 'name': '台湾', 'parentId': 563, 'code': '340100000', 'isSelected': False}, {'id': 855, 'name': '铜川', 'parentId': 556, 'code': '271100000', 'isSelected': False}, {'id': 107384, 'name': '天门', 'parentId': 546, 'code': '182100000', 'isSelected': False}], 'W': [{'id': 736, 'name': '武汉', 'parentId': 546, 'code': '180100000', 'isSelected': False}, {'id': 636, 'name': '无锡', 'parentId': 539, 'code': '111800000', 'isSelected': False}, {'id': 655, 'name': '温州', 'parentId': 540, 'code': '122000000', 'isSelected': False}, {'id': 665, 'name': '芜湖', 'parentId': 541, 'code': '131200000', 'isSelected': False}, {'id': 708, 'name': '潍坊', 'parentId': 544, 'code': '162200000', 'isSelected': False}, {'id': 711, 'name': '威海', 'parentId': 544, 'code': '162500000', 'isSelected': False}, {'id': 890, 'name': '乌鲁木齐',

In [ ]:
# 从根节点开始，获取所有key为name的值
citylist=jsonpath(josnbj,'$..name')
with open("./hust.txt",'w') as f:
    content = json.dumps(citylist, ensure_ascii=False)
    f.write(content)

['安庆', '安阳', '鞍山', '澳门', '安顺', '阿拉善盟', '阿坝藏族羌族自治州', '北京', '保定', '包头', '蚌埠', '百色', '北海', '宝鸡', '滨州', '毕节', '保山', '巴中', '白银', '亳州', '本溪', '巴彦淖尔', '成都', '长沙', '重庆', '长春', '常州', '沧州', '郴州', '澄迈', '常德', '承德', '滁州', '潮州', '赤峰', '池州', '昌吉', '崇左', '昌都', '楚雄', '东莞', '大连', '德州', '德阳', '大理', '达州', '东营', '大庆', '大同', '丹东', '德宏', '大兴安岭', '鄂尔多斯', '鄂州', '佛山', '福州', '阜阳', '抚顺', '阜新', '抚州', '广州', '贵阳', '赣州', '桂林', '贵港', '甘孜藏族自治州', '广安', '甘南', '广元', '杭州', '合肥', '惠州', '哈尔滨', '湖州', '海口', '呼和浩特', '邯郸', '淮安', '菏泽', '海外', '衡阳', '黄石', '淮北', '衡水', '河源', '黄冈', '淮南', '汉中', '鹤壁', '怀化', '葫芦岛', '红河', '河池', '黄山', '呼伦贝尔', '哈密', '贺州', '黑河', '济南', '嘉兴', '金华', '江门', '九江', '揭阳', '晋中', '济宁', '焦作', '吉林', '景德镇', '荆门', '荆州', '吉安', '晋城', '佳木斯', '锦州', '酒泉', '嘉峪关', '昆明', '开封', '克拉玛依', '廊坊', '临沂', '洛阳', '兰州', '聊城', '连云港', '乐山', '临汾', '柳州', '丽水', '泸州', '拉萨', '龙岩', '六安', '丽江', '凉山彝族自治州', '吕梁', '临沧', '漯河', '六盘水', '来宾', '娄底', '陵水黎族自治县', '辽阳', '绵阳', '茂名', '梅州', '眉山', '马鞍山', '牡丹江', '南京', '宁波', '南昌', '南宁', '南通', '宁德', '南阳', '南充', '南平', '内江', '莆田', '平顶山', '萍乡', '濮阳', '盘锦', '普洱', '攀枝花', '青岛', '泉州', '清远', '秦皇岛', '曲靖', '衢州', '庆阳', '琼海', '黔南', '黔西南', '潜江', '齐齐哈尔', '七台河', '日照', '上海', '深圳', '苏州', '沈阳', '石家庄', '绍兴', '汕头', '三亚', '宿迁', '上饶', '商丘', '韶关', '汕尾', '十堰', '宿州', '邵阳', '随州', '三门峡', '遂宁', '商洛', '三明', '绥化', '朔州', '山南', '三沙', '松原', '四平', '天津', '太原', '台州', '唐山', '泰州', '泰安', '通化', '铜陵', '天水', '铁岭', '通辽', '铜仁', '台湾', '铜川', '天门', '武汉', '无锡', '温州', '芜湖', '潍坊', '威海', '乌鲁木齐', '渭南', '文昌', '梧州', '文山', '乌兰察布', '西安', '厦门', '徐州', '新乡', '襄阳', '咸阳', '邢台', '孝感', '香港', '西宁', '许昌', '信阳', '仙桃', '咸宁', '新余', '湘潭', '兴安盟', '西双版纳', '湘西土家族苗族自治州', '宣城', '锡林郭勒盟', '烟台', '扬州', '银川', '盐城', '宜宾', '宜昌', '岳阳', '宜春', '运城', '阳江', '榆林', '玉林', '益阳', '营口', '玉溪', '雅安', '永州', '延边', '玉树', '阳泉', '延安', '鹰潭', '伊春', '郑州', '珠海', '中山', '淄博', '漳州', '镇江', '肇庆', '湛江', '遵义', '驻马店', '株洲', '周口', '张家口', '枣庄', '长治', '昭通', '资阳', '舟山', '自贡', '中卫', '张家界']

In [ ]:
with open('./hust.txt','r') as f:
    data=f.read()
    print(data)

["安庆", "安阳", "鞍山", "澳门", "安顺", "阿拉善盟", "阿坝藏族羌族自治州", "北京", "保定", "包头", "蚌埠", "百色", "北海", "宝鸡", "滨州", "毕节", "保山", "巴中", "白银", "亳州", "本溪", "巴彦淖尔", "成都", "长沙", "重庆", "长春", "常州", "沧州", "郴州", "澄迈", "常德", "承德", "滁州", "潮州", "赤峰", "池州", "昌吉", "崇左", "昌都", "楚雄", "东莞", "大连", "德州", "德阳", "大理", "达州", "东营", "大庆", "大同", "丹东", "德宏", "大兴安岭", "鄂尔多斯", "鄂州", "佛山", "福州", "阜阳", "抚顺", "阜新", "抚州", "广州", "贵阳", "赣州", "桂林", "贵港", "甘孜藏族自治州", "广安", "甘南", "广元", "杭州", "合肥", "惠州", "哈尔滨", "湖州", "海口", "呼和浩特", "邯郸", "淮安", "菏泽", "海外", "衡阳", "黄石", "淮北", "衡水", "河源", "黄冈", "淮南", "汉中", "鹤壁", "怀化", "葫芦岛", "红河", "河池", "黄山", "呼伦贝尔", "哈密", "贺州", "黑河", "济南", "嘉兴", "金华", "江门", "九江", "揭阳", "晋中", "济宁", "焦作", "吉林", "景德镇", "荆门", "荆州", "吉安", "晋城", "佳木斯", "锦州", "酒泉", "嘉峪关", "昆明", "开封", "克拉玛依", "廊坊", "临沂", "洛阳", "兰州", "聊城", "连云港", "乐山", "临汾", "柳州", "丽水", "泸州", "拉萨", "龙岩", "六安", "丽江", "凉山彝族自治州", "吕梁", "临沧", "漯河", "六盘水", "来宾", "娄底", "陵水黎族自治县", "辽阳", "绵阳", "茂名", "梅州", "眉山", "马鞍山", "牡丹江", "南京", "宁波", "南昌", "南宁", "南通", "宁德", "南阳", "南充", "南平", "内江", "莆田", "平顶山", "萍乡", "濮阳", "盘锦", "普洱", "攀枝花", "青岛", "泉州", "清远", "秦皇岛", "曲靖", "衢州", "庆阳", "琼海", "黔南", "黔西南", "潜江", "齐齐哈尔", "七台河", "日照", "上海", "深圳", "苏州", "沈阳", "石家庄", "绍兴", "汕头", "三亚", "宿迁", "上饶", "商丘", "韶关", "汕尾", "十堰", "宿州", "邵阳", "随州", "三门峡", "遂宁", "商洛", "三明", "绥化", "朔州", "山南", "三沙", "松原", "四平", "天津", "太原", "台州", "唐山", "泰州", "泰安", "通化", "铜陵", "天水", "铁岭", "通辽", "铜仁", "台湾", "铜川", "天门", "武汉", "无锡", "温州", "芜湖", "潍坊", "威海", "乌鲁木齐", "渭南", "文昌", "梧州", "文山", "乌兰察布", "西安", "厦门", "徐州", "新乡", "襄阳", "咸阳", "邢台", "孝感", "香港", "西宁", "许昌", "信阳", "仙桃", "咸宁", "新余", "湘潭", "兴安盟", "西双版纳", "湘西土家族苗族自治州", "宣城", "锡林郭勒盟", "烟台", "扬州", "银川", "盐城", "宜宾", "宜昌", "岳阳", "宜春", "运城", "阳江", "榆林", "玉林", "益阳", "营口", "玉溪", "雅安", "永州", "延边", "玉树", "阳泉", "延安", "鹰潭", "伊春", "郑州", "珠海", "中山", "淄博", "漳州", "镇江", "肇庆", "湛江", "遵义", "驻马店", "株洲", "周口", "张家口", "枣庄", "长治", "昭通", "资阳", "舟山", "自贡", "中卫", "张家界"]

# python中的lxml模块

In [ ]:
from lxml import etree

In [ ]:
text = '''
<div>
<ul>
  <li class="item-1">
    <a href="link1.html">first item</a>
  </li>
  <li class="item-1">
    <a href="link2.html">second item</a>
  </li>
  <li class="item-inactive">
    <a href="link3.html">third item</a>
  </li>
  <li class="item-1">
    <a href="link4.html">fourth item</a>
  </li>
  <li class="item-0">
    a href="link5.html">fifth item</a>
</ul>
</div>'''

In [ ]:
#利用etree.HTML，将字符串转化为Element对象,Element对象具有xpath的方法,返回结果的列表
html_l=etree.HTML(text)

In [ ]:
#使用xpath提取
href_list=html_l.xpath("//li[@class='item-1']/a/@href")
title_list=html_l.xpath("//li[@class='item-1']/a/text()")
print(href_list,title_list)

['link1.html', 'link2.html', 'link4.html'] ['first item', 'second item', 'fourth item']

In [ ]:
for href in href_list:
    item={}
    item["href"]=href
    item["title"]=title_list[href.index(href)]
print(item)

{'href': 'link4.html', 'title': 'first item'}

In [ ]:
li_list=html_l.xpath("//li[@class='item-1']")

[<Element li at 0x1bfd2e7cdc0>, <Element li at 0x1bfd2e79d40>, <Element li at 0x1bfd2e79fc0>]

In [ ]:
for li in li_list:
    item={}
    item["href"]=li.xpath("./a/@href")[0] if len(li.xpath("./a/@href"))>0 else None
    item["title"]=li.xpath("./a/text()")[0] if len(li.xpath("./a/text()"))>0 else None
    print(item)

{'href': 'link1.html', 'title': 'first item'}
{'href': 'link2.html', 'title': 'second item'}
{'href': 'link4.html', 'title': 'fourth item'}

# python中的requests模块

In [ ]:
import requests

In [ ]:
# 发送请求
data=requests.get('http://image.baidu.com/search/index?tn=baiduimage&word=皮卡丘')

In [ ]:
#返回数据
print(data.text)

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>ç¾åº¦å®å
¨éªè¯</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no, email=no">
    <link rel="shortcut icon" href="https://www.baidu.com/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="any" mask href="https://www.baidu.com/img/baidu.svg">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://ppui-static-wap.cdn.bcebos.com/static/touch/css/api/mkdjump_aac6df1.css" />
</head>
<body>
    <div class="timeout hide">
        <div class="timeout-img"></div>
        <div class="timeout-title">ç½ç»ä¸ç»åï¼è¯·ç¨åéè¯</div>
        <button type="button" class="timeout-button">è¿åé¦é¡µ</button>
    </div>
    <div class="timeout-feedback hide">
        <div class="timeout-feedback-icon"></div>
        <p class="timeout-feedback-title">é®é¢åé¦</p>
    </div>

<script src="https://wappass.baidu.com/static/machine/js/api/mkd.js"></script>
<script src="https://ppui-static-wap.cdn.bcebos.com/static/touch/js/mkdjump_db105ab.js"></script>
</body>
</html>

# python中的re模块

In [ ]:
import re

## re.match函数

In [ ]:
#匹配第一个字符必须对（必须是h）
res='hellow world'
str=re.match('e',res) #以xx为开头
if str:
    print(str)
    print(str.group())
else:
    print('匹配失败')

匹配失败

In [ ]:
# 常用匹配规则
# .匹配任意一个字符，除了/n
ress=re.match('[ho]',res)
print(ress.group(0))

h

In [ ]:
#匹配数字
res=re.search('r\d\d','usr12d')
res2=re.search('\s','17 di')
res1=re.match('213','7105213859')
print(res)
print(res1)
print(res2)

<re.Match object; span=(2, 5), match='r12'>
None
<re.Match object; span=(2, 3), match=' '>

In [ ]:
#*匹配前一个字符出现的次数
res3=re.match('[a-z][A-N]*','dDD')
print(res3.group())

dDD

In [ ]:
#+
res4=re.match('fg[A-Z]+','fgAEdi')
print(res4.group())

fgAE

In [ ]:
# #{}
res5=re.match('\d{3,}','1343')
print(res5.group())

1343

In [ ]:
#在正则前面加r，就不会转义
print('\\n')
print(r'\n')
rel=re.match('hellow',"hellow world")
print(rel.group())

\n
\n
hellow

In [ ]:
#匹配单个字符
ret=re.match('r.e','rwe')
print(ret.group())
ret1=re.match('r[a-c]w','rbwe')
print(ret1.group())
ret2=re.match('[2-47-9]bb','3bbc')
ret3=re.match('\dbb','3bbc')
print(ret2.group())
print(ret3.group())

rwe
rbw
3bb
3bb

In [ ]:
#匹配多个字符
rel=re.match('abv*','abvvvv')
print(rel.group())
rel1=re.match('ab+v','abbvv')
print(rel1.group())
rel2=re.match('ab?v','avv')
print(rel2.group())
rel3=re.match('bv{5}','bvvvvvdd')
print(rel3.group())
rel4=re.match('ve{2,4}','veee')
print(rel4.group())

abvvvv
abbv
av
bvvvvv
veee

In [ ]:
#匹配开头和结尾
email_list = ["xiaoWang@163.com", "xiaoWang@163.comheihei", ".com.xiaowang@qq.com"]
for emil in email_list:
    reg=re.match('[\w]{4,20}@163\.com$',emil)
    if reg:
        print('%s是符合规定的地址，匹配后的地址是%s'%(emil,reg.group()))
    else:
        print('%s不是符合规定的地址'%(emil))

xiaoWang@163.com是符合规定的地址，匹配后的地址是xiaoWang@163.com
xiaoWang@163.comheihei不是符合规定的地址
.com.xiaowang@qq.com不是符合规定的地址

In [ ]:
#匹配分组
#|
reh=re.match('[1-9]?\d$|100','18')
print(reh.group())
#()
reh1=re.match('\w{4,20}@(126|136|qq)\.com','yingtel@136.com')
print(reh1.group())
#\number
reh2=re.match(r'<([a-zA-Z]*)>\w*<\1>','<html>www<html>')
print(reh2.group())

18
yingtel@136.com
<html>www<html>

## re.compile 函数

In [ ]:
#compile 函数用于编译正则表达式，生成一个正则表达式（ Pattern ）对象，供 match() 和 search() 这两个函数使用
pattern = re.compile(r'\d+')
m = pattern.match('one12twothree34four', 3, 10)
#group()用来提出分组截获的字符串
print(m.group())
print(m.end()) #末尾+1
print(m.start())
print(m.span())

12
5
3
(3, 5)

## re.search()函数

In [ ]:
ret = re.search(r"\d+", "阅读次数为9999")
ret1 = re.match(r"\d+",'阅读次数为9999')
print(ret.group())
print(ret1)

9999
None

## re.findall()函数

In [ ]:
ret = re.findall(r"\d+", "python = 9999, c = 7890, c++ = 12345")
print(ret)

['9999', '7890', '12345']

## re.finditer函数

In [ ]:
it = re.finditer(r"\d+", "12a32bc43jf3")
for match in it:
    print(match.group())

12
32
43
3

## re.sub函数

In [ ]:
ret = re.sub(r"\d+", '998', "python = 997")
print(ret)

python = 998

## re.split函数

In [ ]:
ret = re.split(r":| ","info:xiaoZhang 33 shandong")
print(ret)

['info', 'xiaoZhang', '33', 'shandong']

## 贪婪和非贪婪

In [ ]:
re.match(r"aa(\d+)","aa2343ddd").group(1)

'2343'

In [ ]:
re.match(r"aa(\d+?)","aa2343ddd").group(1)

'2'

In [ ]:
re.match(r"aa(\d+)ddd","aa2343ddd").group(1)

'2343'

In [ ]:
re.match(r"aa(\d+?)ddd","aa2343ddd").group(1)

'2343'